#root {
  max-width: 640px;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ol {
  padding: 0;
}

li {
  padding: 1em 0;
  border-bottom: 1px solid grey;
}

input {
  padding: 0.75em;
  width: 100%;
}

.details {
  padding: 0 1em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.spinner {
  text-align: center;
  animation: spin 2s infinite;
}
